FRONTEND_URL=http://frontend.niffler.dc
GATEWAY_URL=http://gateway.niffler.dc:8090
AUTH_URL=http://auth.niffler.dc:9000
API_BASE_URL=http://gateway.niffler.dc:8090
TEST_USERNAME=qwerty
TEST_PASSWORD=12345
AUTH_SECRET=secret
SPEND_DB_URL=
USER_DB_URL=postgresql://postgres:secret@localhost:5432/niffler-userdata